@using Challenge_Assignment.Controllers
@{
    ViewData["Title"] = "Home Page";
}
@model DateTime
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="border alert-danger">To The Jungle!</h2>
    <p>Thank you for signing in today... @Model.</p>
</div>
